body {
	font-family: 'Open Sans';
	font-style: normal;
	display: flex;
}

#main-div {
	display: flex;
}

#sidebar {
	border-style: solid;
	border-width: 2px;
}

#position-form-menu {
	display: flex;
	flex-direction: column;
	width: 96vw;
}

#higher-menu {
	position: relative;
	display: flex;
	border-style: solid;
	border-width: 2px;
}

.tabs {
	margin: auto 50px auto 1%;
	width: fit-content;
	padding: 20px 0;
}

	.tabs[name=this-page] {
		border-bottom-color: blue;
		border-bottom-width: 3px;
		border-bottom-style: solid;
	}

form {
	width: 900px;
	display: flex;
	flex-direction: column;
}

#form-background {
	position: relative;
	height: 91vh; /*важный момент*/
	padding: 3% 0em 0em 6%;
	background: #EDEAEA;
}

#name-form {
	font-weight: 500;
	font-size: 32px;
	line-height: 38px;
}

#address {
	word-wrap: break-word;
	margin-top: 20px;
}

	#address div {
		display: inline-block;
		margin-right: 32px;
		margin-left: auto;
	}

	#address label {
		margin-left: 3px;
		font-size: 18px;
		line-height: 21px;
		color: #000000;
	}

	#address input {
		height: 30px;
		background: #C4C4C4;
		border-radius: 5px;
		border: 0px;
	}

.address-third-width {
	width: 130px;
}

.address-second-width {
	width: 215px;
}

.address-first-width {
	width: 350px;
}

#comment {
	width: 860px;
	height: 174px;
	background: #C4C4C4;
	border-radius: 5px;
}

#load-file input {
	background-color: #EDEAEA;
}

	#load-file input[value="выбрать файл"] {
		font-weight: 500;
		font-size: 18px;
		text-align: center;
		color: #000000;
	}

input[name=send] {
	margin-top: 10px;
	margin-left: auto;
	margin-right: 35px;
	width: fit-content;
	background: #8FC93A;
}

input[name=add-meter] {
	margin-top: 10px;
	margin-left: 0px;
	margin-right: auto;
	width: fit-content;
	background: #1E91D6;
}

#table {
	display: flex;
	flex-direction: column;
	margin-top: 2%;
}

#name-column {
	display: flex;
	flex-direction: row;
	font-weight: 500;
	font-size: 20px;
	line-height: 33px;
	width: 96%;
	border-radius: 5px;
	color: #000000;
	background-color: #C4C4C4;
}

.column {
	display: flex;
	width: 40%;
	padding-bottom: 20px;
	padding-top: 20px;
}

.value-table {
	margin: auto;
}

.column[name=right-line] {
	border-right: #858EA0;
	border-right-width: 1px;
	border-right-style: solid;
}

.table-row {
	display: flex;
	flex-direction: row;
	margin-top: 7px;
	width: 96%;
	border-radius: 5px;
	color: #000000;
	background-color: #FFFFFF;
}

	.table-row[name=meter-row] {
		word-wrap: break-word;
	}

		.table-row[name=meter-row] div.Column div.Value_table {
			display: inline-block;
			margin: auto;
		}

		.table-row[name=meter-row] label {
			margin-left: 3px;
		}

		.table-row[name=meter-row] input {
			display: block;
			font-weight: 500;
			font-size: 18px;
			border-radius: 5px;
			border: 0px;
			background-color: #eaeaea;
		}

		.table-row[name=meter-row] select {
			display: block;
			font-weight: 500;
			font-size: 18px;
			border-radius: 5px;
			border: 0px;
			background-color: #eaeaea;
		}

#profile{
	margin-left: auto;
	margin-right: 100px;
}

/*логин - пароль*/
#form-entry {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	width: 500px;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	background: #f9f9f9;
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	border-color: #aeaeae;
}

	#form-entry form{
		width:fit-content;
	}

#logo {
	margin: 0 auto;
	margin-top: 20px;
	width: 320px;
	height: 210px;
	background: url(../css/Logo.svg);
	background-size: 320px 210px;
	border: none;
}

#entry-label {
	margin: 0 auto;
	margin-top: 20px;
	font-weight: 400;
	font-size: 41px;
	line-height: 68px;
	color: #000000;
}

#buttons-row {
	margin: 0 auto;
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	width: 443px;
}

.contact {
	margin: 0 auto;
	margin-top: 20px;
	display: block;
	width: min-content;
}

	.contact label {
		margin-left: 6px;
		font-weight: 500;
		font-size: 17px;
		line-height: 28px;
		color: #000000;
	}

	.contact input {
		width: 443px;
		height: 40px;
		font-size: 30px;
		background: #FFFFFF;
		border-style: solid;
		border-width: 2px;
		border-radius: 10px;
		border-color: #aeaeae;
	}

input[type=button] {
	margin-top: 20px;
	height: 45px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	border: 0px;
	font-weight: 500;
	font-size: 23px;
	line-height: 35px;
	color: #FFFFFF;
}

	input[name=next] {
		margin-left: 0px;
		margin-right: auto;
		background: #1E91D6;
		width: fit-content;
	}

	input[name=entry-button] {
		margin-left: auto;
		margin-right: 0px;
		background: #8FC93A;
		width: fit-content;
	}


/* Попробовать деморежим */
#demo {
	margin: 0 auto;
	margin-top: 40px;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	color: #F0F1F3;
}

#support-on-login {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 15px;
	font-weight: 400;
	font-size: 17px;
	line-height: 23px;
	color: #1E91D6;
}

#consent {
	margin-left: 30px;
	margin-top: 30px;
	display: flex;
}

	#consent label {
		font-weight: 400;
		font-size: 16px;
		line-height: 21px;
		color: #666666;
	}

	#consent input {
		margin-right: 12px;
	}