body {
	font-family: 'Open Sans';
	font-style: normal;
	display: flex;
}
	body div {
		width: 100%;
		
	}

#main_div {
	display: flex;
	flex-direction: column;

}

#sidebar {
	display: flex;
	flex-direction: row;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #cfcfcf;
	padding: 14px 0px 0px 5.3%;
}

.sidebar-name {
	width: fit-content;
	font-weight: 500;
	font-size: 20px;
	line-height: 38px;
	margin: 10px;
}

.position-form-menu {
	display: flex;
	flex-direction: column;
	/*
		background: #EDEAEA;
		height: 83.8vh;
	*/
}


form {
	width: 900px;
	display: flex;
	flex-direction: column;
}

.form-background {
	position: relative;
	padding: 3vh 0 0 6vw;
}

#nameForm {
	font-weight: 500;
	font-size: 32px;
	line-height: 38px;
}

#address {
	word-wrap: break-word;
	margin-top: 20px;
	
}

	#address div {
		display: inline-block;
		margin-right: 36px;
		margin-left: auto;
		width: fit-content;
	}

	#address label {
		margin-left: 3px;
		font-size: 18px;
		line-height: 21px;
		color: #000000;
	}

	#address input {
		height: 30px;
		border-radius: 5px;
		border: 1px;
		border-style: solid;
	}

#selectAddress{

}

.AddressThirdWidth {
	width: 130px;
}

.AddressSecondWidth {
	width: 215px;
}

.AddressFirstWidth {
	width: 350px;
}

#comment {
	width: 860px;
	height: 174px;
	border-radius: 5px;
	border: 1px;
	border-style: solid;
}

#loadFile input {
	background-color: #EDEAEA;
}

	#loadFile input[value="выбрать файл"] {
		font-weight: 500;
		font-size: 18px;
		text-align: center;
		color: #000000;
	}

#table {
	display: flex;
	flex-direction: column;
	margin-top: 2%;
}

#name_column {
	display: flex;
	flex-direction: row;
	font-weight: 500;
	font-size: 20px;
	line-height: 33px;
	width: 96%;
	border-radius: 5px;
	color: #FFFFFF;
	background-color: #272727;
}

.Column {
	display: flex;
	width: 40%;
	padding-bottom: 20px;
	padding-top: 20px;
}

.Value_table {
	margin: auto;
	width: fit-content;
}

.Column[name=right_line] {
	border-right: #858EA0;
	border-right-width: 1px;
	border-right-style: solid;
}

.Row {
	display: flex;
	flex-direction: row;
	margin-top: 7px;
	width: 96%;
	border-radius: 5px;
	color: #000000;
	border: 1px;
	border-style: solid;
	box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.4);
}

	.Row[name=meter_row] {
		word-wrap: break-word;
	}

		.Row[name=meter_row] div.Column div.Value_table {
			display: inline-block;
			margin: auto;
		}

		.Row[name=meter_row] label {
			margin-left: 3px;
		}

		.Row[name=meter_row] input {
			display: block;
			font-weight: 500;
			font-size: 18px;
			border-radius: 5px;
			border: 1px;
			border-style: solid;
		}

		.Row[name=meter_row] select {
			display: block;
			font-weight: 500;
			font-size: 18px;
			border-radius: 5px;
			border: 1px;
			border-style: solid;
		}

#add_meter_button {
	display: flex;
	margin: 10px;
	color: #757A83;
}

#add_meter_plus {
	padding: 0px 8px 0px 8px;
	border: 4px solid #858EA0;
	border-radius: 3px;
	font-weight: 600;
	font-size: 18px;
}

#add_meter_text {
	margin: auto 5px;
	font-weight: 500;
	font-size: 18px;
}

#profile{
	margin-left: auto;
	margin-right: 100px;
}

/*логин - пароль*/
#form_Entry {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	width: 500px;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	background: #f9f9f9;
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	border-color: #aeaeae;
}

	#form_Entry form{
		width:fit-content;
	}

#logo {
	margin: 0 auto;
	margin-top: 20px;
	width: 320px;
	height: 210px;
	background: url(../css/Logo.svg);
	background-size: 320px 210px;
	border: none;
}

#entryLabel {
	margin: 0 auto;
	margin-top: 20px;
	font-weight: 400;
	font-size: 41px;
	line-height: 68px;
	color: #000000;
}

#buttons_row {
	margin: 0 auto;
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	width: 443px;
}

.Contact {
	margin: 0 auto;
	margin-top: 20px;
	display: block;
	width: min-content;
}

	.Contact label {
		margin-left: 6px;
		font-weight: 500;
		font-size: 17px;
		line-height: 28px;
		color: #000000;
	}

	.Contact input {
		width: 443px;
		height: 40px;
		font-size: 30px;
		background: #FFFFFF;
		border-style: solid;
		border-width: 2px;
		border-radius: 10px;
		border-color: #000000;

	}

input[type=button] {
	margin: 0 auto;
	margin-top: 20px;
	height: 45px;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	border: 0px;
	font-weight: 500;
	font-size: 23px;
	line-height: 35px;
}
input[type=submit] {
	margin: 0 auto;
	margin-top: 20px;
	height: 45px;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	border: 0px;
	font-weight: 500;
	font-size: 23px;
	line-height: 35px;
}

input[name=next] {
	margin-left: 0px;
	margin-right: auto;
	width: fit-content;
	background: #FFFFFF;
	border: 2px solid #000000;
	color: #000000;
}

input[name=entryButton] {
	margin-left: auto;
	margin-right: 0px;
	width: fit-content;
	background: #000000;
	color: #FFFFFF;
}

input[name=send] {
	margin-top: 10px;
	margin-left: auto;
	margin-right: 35px;
	background: #000000;
	color: #FFFFFF;
}

input[name=add_meter] {
	margin-top: 10px;
	margin-left: 0px;
	margin-right: auto;
	background: #FFFFFF;
	border: 2px solid #000000;
	color: #000000;
}


/* Попробовать деморежим */
#demo {
	margin: 0 auto;
	margin-top: 40px;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	color: #F0F1F3;
}

#support_on_login {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 15px;
	font-weight: 400;
	font-size: 17px;
	line-height: 23px;
	color: #1E91D6;
}

#consent {
	margin-left: 30px;
	margin-top: 30px;
	display: flex;
}

	#consent label {
		font-weight: 400;
		font-size: 16px;
		line-height: 21px;
		color: #191919;
	}

	#consent input {
		margin-right: 12px;
	}