@page "/"

@using testBlazor.Data.security;

@inject NavigationManager nav;
@inject AuthenticationStateProvider authenticationStateProvider;
@inject Blazored.SessionStorage.ISessionStorageService sessionStorageService;
@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
    <div id="position_form_menu" @onload="onLoad">
        <div id="higher_menu">
            <div class="Tabs" >
                Показания
            </div>
            <div class="Tabs" name="this_page">
                Заявки
            </div>
            <div class="Tabs">
                Услуги
            </div>
            <div class="Tabs">
                <a href='mailto:gptevcat@gmail.com'>Служба поддержки</a>
            </div>
            <div id="user-profile">
                <a href="" @onclick="changeData">@email</a>
            </div>
            <div id="logout" class="down">
                <a href="" @onclick="logout">Выйти</a>
            </div>
        </div>
    </div>
    <Statement />
    </Authorized>
   <NotAuthorized>
        <Login />
   </NotAuthorized>
</AuthorizeView>


@code {
    private string email { get; set; } = "";
    
    public async void onLoad(){
        email = await sessionStorageService.GetItemAsync<string>("email");
    }
     

    public void changeData()
	{
		nav.NavigateTo("/user");
	}

	public void logout()
	{
        ((CustomAuthenticationStateProvider)authenticationStateProvider).userNotAuthorized();

		nav.NavigateTo("/");
	}
}
