@page "/zalupa"

@using MailKit.Net.Smtp;
@using MailKit;
@using MimeKit;

<PageTitle>Index</PageTitle>

<button @onclick="sendEmail">Отправить сообщение</button>

<br />

<h1>@message</h1>

<h1>@error</h1>
<SurveyPrompt Title="How is Blazor working for you?" />
<Counter IncrementAmount="10" />

@code {
    private string message { get; set; } = "";

    private string error { get; set; } = "";

    private string password = "sdicbsduhvbclsaudcnlz";

    private void sendEmail()
    {
        try
        {
            using (MimeMessage mail = new MimeMessage())
            {
                mail.From.Add(new MailboxAddress("ЖКХ", "gptevcat@gmail.com"));
                mail.To.Add(new MailboxAddress("Павлик из 3 подъезда", "pasha228ploshkin@gmail.com"));
                mail.Subject = "ЖКХ. Одноразовый пароль для входа на сайт";
                mail.Body = new TextPart("plain")
                {
                    Text = @"

                    Ваш одноразовый пароль для входа в приложение @" + password + 
                    "Хорошего вам дня"

                };

                using (SmtpClient smtp = new SmtpClient())
                {
                    smtp.Connect("smtp.gmail.com", 587, false);
                    smtp.Authenticate("gptevcat@gmail.com", "ayzomvmslxvclcpy");
                    smtp.Send(mail);
                    message = "Отправлено";
                    smtp.Disconnect(true);
                }
            }
        }
        catch (Exception e)
        {
            error = e.Message.ToString();
        }
    }
}