#position_form_menu {
	display: flex;
	flex-direction: column;
	width: 96vw;
}
#sidebar {
	border-style: solid;
	border-width: 2px;
}
#higher_menu {
	padding-left:5vw;
	width: 100vw;
	position: relative;
	display: flex;
	border-style: solid;
	border-width: 2px;
}

.Tabs {
	margin: auto 50px auto 1%;
	width: fit-content;
	padding: 20px 0;
}

.Tabs[name=this_page] {
		border-bottom-color: blue;
		border-bottom-width: 3px;
		border-bottom-style: solid;
	}

#user-profile {
	margin: auto 1% auto 50vw;
	width: 50px;
	height: 50px;
}
#logout {
	margin: auto 1% auto 58vw;
	width: 50px;
	height: 50px;
}
