body {
    font-family: 'Roboto';
    font-style: normal;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
}

#visibleForm {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    width: 500px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background: #f9f9f9;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #aeaeae;
}

#logo {
    margin: 0 auto;
    margin-top: 20px;
    width: 320px;
    height: 210px;
    background: url(../wwwroot/css/Logo.svg);
    background-size: 320px 210px;
    border: none;
}



/* Вход в личный кабинет */
#entry {
    margin: 0 auto;
    margin-top: 20px;
    font-weight: 400;
    font-size: 41px;
    line-height: 68px;
    color: #000000;
}

#buttons_row {
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

/* Ввод данных */
.Contact {
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    width: 450px;
}

    .Contact label {
        margin-left: 6px;
        font-weight: 500;
        font-size: 17px;
        line-height: 28px;
        color: #000000;
    }

    .Contact input {
        width: 443px;
        height: 40px;
        font-size: 30px;
        background: #FFFFFF;
        border-style: solid;
        border-size: 4px;
        border-radius: 10px;
        border-color: #aeaeae;
    }

.ButtonInput {
    margin: 0 auto;
    margin-top: 20px;
    height: 45px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    border: 0px;
    font-weight: 500;
    font-size: 23px;
    line-height: 35px;
    color: #FFFFFF;
}

    .ButtonInput[name=next] {
        margin-right: 83px;
        background: #1E91D6;
        width: 200px;
    }

    .ButtonInput[name=entryButton] {
        margin-left: 83px;
        background: #8FC93A;
        width: 82px;
    }


/* Попробовать деморежим */
#demo {
    margin: 0 auto;
    margin-top: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #F0F1F3;
}

#storapp {
    margin: 0 auto;
    margin-top: 90px;
    display: flex;
}

    #storapp a {
        width: 200px;
        height: 50px;
        filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
        border-radius: 10px;
    }

#support {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #1E91D6;
}

#notice {
    font-weight: 500;
    font-size: 17px;
    line-height: 28px;
    color: #FFFFFF;
}

#consent {
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
}

    #consent label {
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #666666;
    }

    #consent input {
        margin-right: 12px;
    }
