@page "/"

@using MailKit.Net.Smtp;
@using MailKit;
@using MimeKit;

<html>

<head>
    <meta charset="utf-8">
    <title>Авторизация: стартовая страница</title>
    <link rel="stylesheet" type="text/css" href="Login.css">
    <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>@error</h1>
    <div id="visibleForm">
        <div id="logo">
        </div>
        <label id="entry">Вход в личный кабинет</label>
        <form name="sendingEmail" >
            <div class="Contact">
                <label for="email">Электронная почта</label>
                <input type="email" name="email" required @bind="myemail">
            </div>
            <div class="Contact">
                <label for="pswd">Одноразовый пароль</label>
                <input type="password" name="pswd" required>
            </div>
            <div id="buttons_row">
                <input class="ButtonInput" type="button" name="next" value="Получить пароль" @onclick="sendEmail" >
                <input class="ButtonInput" type="submit" name="entryButton" value="Войти" required >
            </div>

            <div id="consent">
                <input type="checkbox" name="checkbox" required>
                <label for="checkbox">Вы соглашаетесь с правилами <a href="">Пользовательского соглашения</a> и <a
                        href="">Политикой обработки персональных данных</a>.</label>
            </div>

        </form>
        <a id="support" href="">Служба поддержки</a>
    </div>
</body>

</html>

@code {
    private string message { get; set; } = "";

    private string error { get; set; } = "";

    private string? myemail { get; set; } = "";

    private string password = "sdicbsduhvbclsaudcnlz";

    private void sendEmail()
    {
        try
        {

            using (MimeMessage mail = new MimeMessage())
            {
                mail.From.Add(new MailboxAddress("ЖКХ", "gptevcat@gmail.com"));
                mail.To.Add(new MailboxAddress("Павлик из 3 подъезда", myemail));
                mail.Subject = "ЖКХ. Одноразовый пароль для входа на сайт";
                mail.Body = new TextPart("plain")
                    {
                        Text = @"

                    Ваш одноразовый пароль для входа в приложение " + password +
                        "\nХорошего вам дня"

                    };

                using (SmtpClient smtp = new SmtpClient())
                {
                    smtp.Connect("smtp.gmail.com", 587, false);
                    smtp.Authenticate("gptevcat@gmail.com", "ayzomvmslxvclcpy");
                    smtp.Send(mail);
                    smtp.Disconnect(true);
                }
            }
        }
        catch (Exception e)
        {
            error = e.Message.ToString();
        }
    }
}
