@page "/readings_history"

<MeterReadingsMenuBar />
<div class="position-form-menu">
    <div class="form-background">
        <div id="table">
            <div id="name_column">
                <div class="Column" name="right_line"><div class="Value_table">Дата</div></div>
                <div class="Column" name="right_line"><div class="Value_table">Тип счётчика</div></div>
                <div class="Column" name="right_line"><div class="Value_table">Показания</div></div>
                <div class="Column"><div class="Value_table">Адрес</div></div>
            </div>
            <div class="Row">
                <div class="Column" name="right_line"><div class="Value_table"></div></div>
                <div class="Column" name="right_line"><div class="Value_table">Горячая вода</div></div>
                <div class="Column" name="right_line"><div class="Value_table">Показания</div></div>
                <div class="Column"><div class="Value_table">улица Краснопролетская 200, корпус 2, квартира 234</div></div>
            </div>
            <div class="Row">
                <div class="Column" name="right_line"><div class="Value_table"></div></div>
                <div class="Column" name="right_line"><div class="Value_table">Газ</div></div>
                <div class="Column" name="right_line"><div class="Value_table">Показания</div></div>
                <div class="Column"><div class="Value_table">улица Краснопролетская 200, корпус 2, квартира 234</div></div>
            </div>
        </div>
    </div>
</div>

@code {

}
