@page "/meter_readings"

@using Microsoft.EntityFrameworkCore
@using testBlazor.Data;
@using testBlazor.Data.services
@using System.Text;
@using testBlazor.Data.security;

@inject IClientService ClientService
@inject NavigationManager nav;
@inject AuthenticationStateProvider authenticationStateProvider;
@inject Blazored.SessionStorage.ISessionStorageService sessionStorageService;

@attribute [Authorize]

<div id="main_div">
    <div id="position_form_menu">
        <div id="higher_menu">
            <div class="Tabs" name="this_page">Показания</div>
            <div class="Tabs" @onclick="goToStatement">Заявки</div>
            <div class="Tabs">Услуги</div>
            <div class="Tabs"><a href='mailto:gptevcat@gmail.com'>Служба поддержки</a></div>
            <div id="profile">
                <div id="name_profile">@email</div>
                <div id="menu_profile">
                    <div @onclick="changeData">Изменить данные</div>
                    <div @onclick="logout">Выйти</div>
                </div>
            </div>
        </div>
        <div id="form_background">
            <form>
                <div id="nameForm">Показания</div>
                <div id="address">
                    <div><label for="">Улица *</label><br><input name="" class="AddressFirstWidth" type="text" required></div>
                    <div><label for="">Дом *</label><br><input name="" class="AddressThirdWidth" type="text" required></div>
                    <div><label for="">Корпус</label><br><input name="" class="AddressThirdWidth" type="text" required></div>
                    <div><label for="">Квартира *</label><br><input name="" class="AddressThirdWidth" type="text" required></div>
                </div>

                <div id="table">
                    <div id="name_column">
                        <div class="Column" name="right_line"><div class="Value_table">Счетчик</div></div>
                        <div class="Column" name="right_line"><div class="Value_table">Предыдущее значение</div></div>
                        <div class="Column"><div class="Value_table">Текущее значение</div></div>
                    </div>
                    <div class="Row">
                        <div class="Column" name="right_line"><div class="Value_table">Горячая вода</div></div>
                        <div class="Column" name="right_line"><div class="Value_table">36 м. куб.</div></div>
                        <div class="Column"><div class="Value_table">58 м. куб.</div></div>
                    </div>
                    <div class="Row">
                        <div class="Column" name="right_line"><div class="Value_table">Газ</div></div>
                        <div class="Column" name="right_line"><div class="Value_table">27 м. куб.</div></div>
                        <div class="Column"><div class="Value_table">61 м. куб.</div></div>
                    </div>
                </div>
                <div class="Row" name="meter_row">
                    <div class="Column" name="right_line">
                        <div class="Value_table">
                            <label for="meter_type">Тип счетчика</label>
                            <select name="meter_type">
                                <option>Горячая вода</option>
                                <option>Холодная вода</option>
                                <option>Газ</option>
                            </select>
                        </div>
                    </div>
                    <div class="Column" name="right_line">
                        <div class="Value_table">
                            <label for="meter_past_value">Предыдущее значение</label>
                            <input name="meter_past_value" type="text">
                        </div>
                    </div>
                    <div class="Column">
                        <div class="Value_table">
                            <label for="meter_present_value">Текущее значение</label>
                            <input name="meter_present_value" type="text">
                        </div>
                    </div>
                </div>
                <input class="Submission" type="button" name="add_meter" value="Добавить счетчик" required>
                <input class="Submission" type="submit" name="send" value="Отправить" required>
                <div id="obligatory_field">* Обязательное поле</div>
            </form>
        </div>
    </div>
</div>
@code {

    Client? client = new Client();
    public string email { get; set; } = "";

	public void changeData()
	{
		nav.NavigateTo("/user");
	}

	public void goToStatement()
	{
		nav.NavigateTo("/statement");
	}

    protected override async Task OnInitializedAsync()
    {
        var result = await sessionStorageService.GetItemAsync<string>("email");
        if (result!= null)
        {
            email = result;
            client = ClientService.getSingleClientByEmail(email);
            StateHasChanged();
        }

    }

	public void logout()
	{

        ((CustomAuthenticationStateProvider)authenticationStateProvider).userNotAuthorized();

		nav.NavigateTo("/");
	}


}
