@page "/MeterReadings"

@using Microsoft.EntityFrameworkCore
@using testBlazor.Data;
@using testBlazor.Data.services
@using System.Text;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject ProtectedSessionStorage ProtectedSessionStore
@inject IClientService ClientService
@inject NavigationManager nav;

<div id="main-div">
    <div id="sidebar">
        <div id="sidebar-name">История</div>
        <div class="sidebar-obj">
            <div class="sidebar-month">Март</div>
            <div class="sidebar-year">2023</div>
        </div>
        <div class="sidebar-obj">
            <div class="sidebar-month">Февраль</div>
            <div class="sidebar-year">2023</div>
        </div>
    </div>
    <div id="position-form-menu">
        <div id="higher-menu">
            <div class="tabs" name="this-page">Показания</div>
            <div class="tabs" @onclick="goToStatement">Заявки</div>
            <div class="tabs">Услуги</div>
            <div class="tabs"><a href='mailto:gptevcat@gmail.com'>Служба поддержки</a></div>
            <div id="profile">
                <div id="name-profile">@email</div>
                <div id="menu-profile">
                    <div @onclick="changeData">Изменить данные</div>
                    <div @onclick="logout">Выйти</div>
                </div>
            </div>
        </div>
        <div id="form-background">
            <form>
                <div id="name-form">Показания</div>
                <div id="address">
                    <div><label for="">Улица *</label><br><input name="" class="address-first-width" type="text" required></div>
                    <div><label for="">Дом *</label><br><input name="" class="address-third-width" type="text" required></div>
                    <div><label for="">Корпус</label><br><input name="" class="address-third-width" type="text" required></div>
                    <div><label for="">Квартира *</label><br><input name="" class="address-third-width" type="text" required></div>
                </div>

                <div id="table">
                    <div id="name-column">
                        <div class="column" name="right-line"><div class="value-table">Счетчик</div></div>
                        <div class="column" name="right-line"><div class="value-table">Предыдущее значение</div></div>
                        <div class="column"><div class="value-table">Текущее значение</div></div>
                    </div>
                    <div class="table-row">
                        <div class="column" name="right-line"><div class="value-table">Горячая вода</div></div>
                        <div class="column" name="right-line"><div class="value-table">36 м. куб.</div></div>
                        <div class="column"><div class="value-table">58 м. куб.</div></div>
                    </div>
                    <div class="table-row">
                        <div class="column" name="right-line"><div class="value-table">Газ</div></div>
                        <div class="column" name="right-line"><div class="value-table">27 м. куб.</div></div>
                        <div class="column"><div class="value-table">61 м. куб.</div></div>
                    </div>
                </div>
                <div class="table-row" name="meter-row">
                    <div class="column" name="right-line">
                        <div class="value-table">
                            <label for="meter-type">Тип счетчика</label>
                            <select name="meter-type">
                                <option>Горячая вода</option>
                                <option>Холодная вода</option>
                                <option>Газ</option>
                            </select>
                        </div>
                    </div>
                    <div class="column" name="right-line">
                        <div class="value-table">
                            <label for="meter-past-value">Предыдущее значение</label>
                            <input name="meter-past-value" type="text">
                        </div>
                    </div>
                    <div class="column">
                        <div class="value-table">
                            <label for="meter-present-value">Текущее значение</label>
                            <input name="meter-present-value" type="text">
                        </div>
                    </div>
                </div>
                <input type="button" name="add-meter" value="Добавить счетчик" required>
                <input type="button" name="send" value="Отправить" required>
                <div id="obligatory_field">* Обязательное поле</div>
            </form>
        </div>
    </div>
</div>
@code {

	Client? client = new Client();
	public string email { get; set; } = "";

	protected override async Task OnInitializedAsync()
	{
		var result = await ProtectedSessionStore.GetAsync<string>("email");
		if (result.Success)
		{
			email = result.Value;
			client = ClientService.getSingleClientByEmail(email);
			StateHasChanged();
		}

	}

	public void changeData()
	{
		nav.NavigateTo("/UserData");
	}

	public void goToStatement()
	{
		nav.NavigateTo("/Statement");
	}

	public void logout()
	{
		ProtectedSessionStore.SetAsync("email", "");
		nav.NavigateTo("/");
	}


}
