#label {
    margin: 20px auto auto auto;
    font-family: 'Open Sans';
    width:fit-content;
}
#userPage {
    
}
#buttons-contain {
    margin: auto;
    width: fit-content;
}
#skipButton {
    width: auto;
    height: 45px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 1px;
    font-weight: 500;
    font-size: 23px;
    line-height: 35px;
    color: #000000;
    background-color: #dcdcdc;
    border: 2px solid #aeaeae;
}