@page "/prergistration"
@inject NavigationManager nav;

@attribute [Authorize]

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&amp;subset=cyrillic" rel="stylesheet">

<div id="label">Заполнение данной формы не являтся обязательным, вы можете пропустить этот этап нажав на специальную кнопку внизу экрана</div>
<div id="userPage">
    <UserData />
</div>

<div id = "buttonContainer">
    <button id="skipButton" @onclick="tempAuthenticate">Пропустить этап</button>
</div>
@code{
    private async void tempAuthenticate(){
        nav.NavigateTo("/");
    }
    
}