@page "/statement"

@using Microsoft.EntityFrameworkCore
@using testBlazor.Data;
@using testBlazor.Data.services
@using System.Text;
@using testBlazor.Data.security;

@inject IClientService ClientService
@inject NavigationManager nav;
@inject AuthenticationStateProvider authenticationStateProvider;
@inject Blazored.SessionStorage.ISessionStorageService sessionStorageService;

@attribute [Authorize]

<div id="main_div">
    <div id="sidebar">
        <div id="sidebar_name">История</div>
        <div class="sidebar_obj">
            <div class="sidebar_month">Март</div>
            <div class="sidebar_year">2023</div>
        </div>
        <div class="sidebar_obj">
            <div class="sidebar_month">Февраль</div>
            <div class="sidebar_year">2023</div>
        </div>
    </div>
    <div id="position_form_menu">
        <div id="form_background">
            <form>
                <div id="nameForm">Заявка №(число)</div>
                <div id="address">
                    <div><label for="">Улица *</label><br><input class="AddressFirstWidth" name="" type="text" required></div>
                    <div><label for="">Дом *</label><br><input class="AddressThirdWidth" name="" type="text" required></div>
                    <div><label for="">Корпус</label><br><input class="AddressThirdWidth" name="" type="text" required></div>
                    <div><label for="">Квартира *</label><br><input class="AddressThirdWidth" name="" type="text" required></div>
                    <div><label for="">Фамилия *</label><br><input class="AddressFirstWidth" name="" type="text" required></div>
                    <div><label for="">Имя *</label><br><input class="AddressSecondWidth" name="" type="text" required></div>
                    <div><label for="">Отчество *</label><br><input class="AddressSecondWidth" name="" type="text" required></div>
                    <div><label for="">Телефон</label><br><input class="AddressFirstWidth" name="" type="text" required></div>
                    <div><label for="">Электронная почта *</label><br><input class="AddressFirstWidth" name="" type="text" required></div>
                    <div><label for="">Тема Обращения *</label><br><input class="AddressFirstWidth" name="" type="text" required></div>
                    <div><label for="comment">Ваше Сообщение *</label><br><textarea id="comment" name="comment"></textarea></div>
                    <div id="loadFile"><label for="file">Файл</label><br><img id="ico"><input type="file" name="file" value="выбрать файл"></div>
                </div>
                <input class="Submission" type="submit" name="send" value="Отправить" required>
            </form>
            <div id="obligatory_field">* Обязательное поле</div>
        </div>
    </div>
</div>
@code {

	Client? client = new Client();
	public string email { get; set; } = "";

	public void changeData()
	{
		nav.NavigateTo("/user");
	}

	/*public void goToMeterReadings()
	{
		nav.NavigateTo("/meter_readings");
	}

	public void logout()
	{
        ((CustomAuthenticationStateProvider)authenticationStateProvider).userNotAuthorized();

		nav.NavigateTo("/");
	}*/
}
