@page "/statement"

@using Microsoft.EntityFrameworkCore
@using testBlazor.Data;
@using testBlazor.Data.Models;
@using testBlazor.Data.services
@using System.Text;
@using testBlazor.Data.security;

@inject IClientService ClientService
@inject NavigationManager nav;
@inject AuthenticationStateProvider authenticationStateProvider;
@inject IRequestService requestService;
@inject Blazored.SessionStorage.ISessionStorageService sessionStorageService;

@attribute [Authorize]

<div id="main_div">
    <div id="sidebar">
        <div class="sidebar-name">Создание заявки</div>
        <div class="sidebar-name">История</div>
    </div>
    <div class="position-form-menu">
        <div class="form-background">
            <div id="table">
                <div id="name_column">
                    <div class="Column" name="right_line"><div class="Value_table">Дата</div></div>
                    <div class="Column" name="right_line"><div class="Value_table">Статус</div></div>
                    <div class="Column" name="right_line"><div class="Value_table">Тема</div></div>
                    <div class="Column" name="right_line"><div class="Value_table">ФИО</div></div>
                    <div class="Column"><div class="Value_table">Адрес</div></div>
                </div>
                <div class="Row">
                    <div class="Column" name="right_line"><div class="Value_table"></div></div>
                    <div class="Column" name="right_line"><div class="Value_table">Новая</div></div>
                    <div class="Column" name="right_line"><div class="Value_table">Показания</div></div>
                    <div class="Column" name="right_line"><div class="Value_table">ФИО</div></div>
                    <div class="Column"><div class="Value_table">улица Краснопролетская 200, корпус 2, квартира 234</div></div>
                </div>
                <div class="Row">
                    <div class="Column" name="right_line"><div class="Value_table"></div></div>
                    <div class="Column" name="right_line"><div class="Value_table">Принята</div></div>
                    <div class="Column" name="right_line"><div class="Value_table">Показания</div></div>
                    <div class="Column" name="right_line"><div class="Value_table">ФИО</div></div>
                    <div class="Column"><div class="Value_table">улица Краснопролетская 200, корпус 2, квартира 234</div></div>
                </div>
            </div>
        </div>
    </div>
    <!--<div id="position_form_menu">
        <div id="form_background">
            <EditForm Model="@statementModel" OnSubmit="@handleStatementForm">
                <div id="nameForm">Заявка №(число)</div>
                <div id="address">
                    <div><label for="">Улица *</label><br><input class="AddressFirstWidth" name="" type="text" required @bind-value="statementModel.name"></div>
                    <div><label for="">Дом *</label><br><input class="AddressThirdWidth" name="" type="text" required @bind-value="statementModel.building"></div>
                    <div><label for="">Корпус</label><br><input class="AddressThirdWidth" name="" type="text" required @bind-value="statementModel.house"></div>
                    <div><label for="">Квартира *</label><br><input class="AddressThirdWidth" name="" type="text" required @bind-value="statementModel.apartment"></div>
                    <div><label for="">Фамилия *</label><br><input class="AddressFirstWidth" name="" type="text" required @bind-value="statementModel.surname"></div>
                    <div><label for="">Имя *</label><br><input class="AddressSecondWidth" name="" type="text" required @bind-value="statementModel.name"></div>
                    <div><label for="">Отчество *</label><br><input class="AddressSecondWidth" name="" type="text" required @bind-value="statementModel.patronymic"></div>
                    <div><label for="">Телефон</label><br><input class="AddressFirstWidth" name="" type="text" required @bind-value="statementModel.phoneNumber"></div>
                    <div><label for="">Электронная почта *</label><br><input class="AddressFirstWidth" name="" type="text" required @bind-value="statementModel.email"></div>
                    <div><label for="">Тема Обращения *</label><br><input class="AddressFirstWidth" name="" type="text" required @bind-value="statementModel.subject"></div>
                    <div><label for="comment">Ваше Сообщение *</label><br><textarea id="comment" name="comment" @bind="statementModel.comment"></textarea></div>
@*                    <div id="loadFile"><label for="file">Файл</label><br><img id="ico"><input type="file" name="file" value="выбрать файл"></div>*@
                </div>
                <input class="Submission" type="submit" name="send" value="Отправить" required>
            </EditForm>
            <div id="obligatory_field">* Обязательное поле</div>
        </div>
        </div>-->
</div>
@code {

    Client? client = new Client();

    StatementModel statementModel = new();
    public string email { get; set; } = "";

	public void changeData()
	{
		nav.NavigateTo("/user");
	}

    private void handleStatementForm()
    {
        
    }

	public void goToMeterReadings()
	{
		nav.NavigateTo("/meter_readings");
	}

    protected override async Task OnInitializedAsync()
    {
        var result = await sessionStorageService.GetItemAsync<string>("email");
        if (result.Length != 0)
        {
            email = result;
            client = ClientService.getSingleClientByEmail(email);
            StateHasChanged();
        }

    }

	public void logout()
	{
        ((CustomAuthenticationStateProvider)authenticationStateProvider).userNotAuthorized();

		nav.NavigateTo("/");
	}
}
