

html {
    font-family: 'Open Sans';
}


input {
    font-family: 'Open Sans';
}

h3 {
    text-indent: 20px;
    margin: 0 0 0 6px;

}

p {
    margin: 0;
}

#mainDiv {
    text-indent: 10px;
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, 0);
}

.inputDiv {
    flex-wrap: wrap;
    float: left;
    display: flexbox;
    margin: 10px;
}

.headerDiv {
    flex-wrap: wrap;
    display: flexbox;
}

.dataContainer {
    border: 2px solid black;
    width: 38vw;
    height: 25vh;
    margin-left: 0.5vw;
    margin-top:0.5vh;
    padding: 0.5%;
    text-indent: 6px;
    border-radius: 5px;
    flex-wrap: wrap;
    display: flexbox;
    float: left;
}

.innerDiv {
    flex-wrap: wrap;
    float: left;
    display: flexbox;

}

.saveButton {
    margin-left: 80px;
    font-family: 'Open Sans';
}
