@using testBlazor.Pages
@inherits LayoutComponentBase


<div >
    <div><AuthorizeView>
            <Authorized>
                  <NavigationMenu />
            </Authorized>
            <NotAuthorized>
            </NotAuthorized>
        </AuthorizeView>
      
    </div>
    <main>
            @Body
        
    </main>
</div>
